@media screen and (max-width: 1440px) {
    .products-container {
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
    }
}

@media screen and (max-width: 1080px) {
    .products-container {
        grid-template-columns: repeat(2, 1fr);
        gap: 15px;
    }

    .intro div {
        width: 55%;
    }

    .intro div p {
        font-size: 10vw;
    }
}

@media screen and (max-width: 768px) {
    main {
        margin-top: 80px;
    }

    .intro img {
        height: 35vh;

    }

    .intro div {
        width: 60%;
        border-radius: 0px 10px 10px;
    }

    .intro div p {
        font-size: 11vw;
        padding-left: 2vw;
    }

    .products h2 {
        font-size: 3rem;
    }
}

@media screen and (max-width: 720px) {
    .products-container {
        grid-template-columns: repeat(1, 1fr);
        gap: 0px;
    }
}

@media screen and (max-width: 480px) {
    main {
        margin-top: 70px;
    }

    .intro img {
        height: 30vh;
    }

    .intro div {
        background-color: rgba(0, 0, 0, 0.55);
        width: 90%;
        left: 5%;
        border-radius: 10px;
        justify-content: center;
    }

    .intro div p {
        font-size: 15vw;
    }
}

@media screen and (max-width: 380px) {
    .intro div {
        height: 60%; 
    }

    .intro div p {
        font-size: 16vw;
    }
}