.darkLayer {
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
  position: fixed;
  width: 100%;
  display: none;
  top: 0;
  left: 0;
  z-index: 3;
}

#darkLayer {
  display: block;
}

header {
  position: fixed;
  background-color: white;
  top: 0;
  left: 0;
  z-index: 2;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  height: max-content;
  padding: 0px 5px;
  width: 100%;
}

.logo {
  width: 75px;
  height: auto;
  cursor: pointer;
  transition: transform .3s;
}

.logo:active {
  transform: scale(.9);
}

main {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-top: 80px;
}

.menu_section {
  position: fixed;
  top: 80px;
  /* Ajusta esto según la altura de tu encabezado */
  left: 0;
  background-color: #384047;
  color: white;
  padding: 15px 0px;
  width: 270px;
  min-width: 200px;
  height: calc(100% - 80px);
  /* Resta la altura del encabezado */
  box-shadow: 2px 0px 10px rgba(0, 0, 0, 0.2);
}

.active {
  background-color: #55626e;
  box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.3);
  transition: box-shadow .3s ease;
}

.active:hover {
  box-shadow: inset 0px 0px 7px rgba(0, 0, 0, 0.4);
}

.menu_section ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.menu_section li {
  cursor: pointer;
  height: 100%;
  list-style: none;
  padding: 20px 15px;
  width: 100%;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.menu_section li:hover {
  background-color: #55626e;
}

.contenedor_btn_actualizarCuenta {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-top: 35px;
  width: 100%;
}

.contenedor_btn_actualizarCuenta button {
  background-color: #3498db;
  color: #fff;
  padding: 10px 20px;
  font-size: 17px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease, transform .3s ease-in-out;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.contenedor_btn_actualizarCuenta button:hover {
  background-color: #2d8bc9;
  color: #ecf0f1;
  box-shadow: 0 0 10px rgba(52, 152, 219, 0.8);
}

.contenedor_btn_actualizarCuenta button:active {
  background-color: #1f618d;
  box-shadow: 0 0 8px rgba(41, 128, 185, 0.8);
  transform: translateY(2px);
}


.data_section {
  margin-top: 20px;
  width: calc(100% - 290px);
  margin-left: calc(270px + 5%);
  margin-right: 5%;
}

h2 {
  color: #333;
}

.search {
  width: max-content;
  padding: 5px;
  border: 2px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
  outline: none;
  margin-top: 15px;
  transition: border-color 0.3s;
}

.search:focus {
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.table_container {
  margin-left: auto;
  margin: 20px 0px;
}

.user_table {
  width: 100%;
  border-collapse: collapse;
}

.user_table th,
.user_table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.user_table th {
  background-color: #3498db;
  color: white;
}

.th_checkbox {
  cursor: pointer;
  position: relative;
  justify-content: center;
}

.td_checkbox {
  background-color: #3498db2c;
  color: white;
  height: 100%;
  width: 1%;
}

.td_checkbox input {
  background-color: white;
  width: 20px;
  height: 100%;
  border: 2px solid #3498db;
  border-radius: 4px;
  margin-left: 23%;
  outline: none;
  transition: border-color 0.3s ease;
}

.edit_icon {
  color: #3498db;
  cursor: pointer;
  font-size: 17px;
  transition: color 0.3s ease;
}

.delete_icon {
  color: #e74c3c;
  cursor: pointer;
  font-size: 17px;
  transition: color 0.3s ease;
}

.edit_icon:hover {
  color: #1f618d;
}

.delete_icon:hover {
  color: #922b21;
}

.edit_icon:active {
  color: #2980b9;
}

.delete_icon:active {
  color: #c0392b;
}

.container_actionButtons {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-bottom: 25px;
}

.delete_selected,
.add_user {
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease;
}

.delete_selected {
  background-color: #e74c3c;
}

.add_user {
  background-color: #2ecc71;
}

.delete_selected:hover {
  background-color: #c0392b;
}

.add_user:hover {
  background-color: #27ae60;
}

.delete_selected:active {
  background-color: #922b21;
}

.add_user:active {
  background-color: #1e8449;
}

.addUserForm {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -100%);
  opacity: 0;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  width: 300px;
  visibility: hidden;
  transition: transform .3s ease-in-out, opacity .5s ease-in-out;
  z-index: 4;
}

#addUserForm {
  transform: translate(-50%, -50%);
  opacity: 1;
  visibility: visible;
}

.addUserForm input,
.addUserForm select {
  width: 100%;
  padding: 8px;
  margin-bottom: 16px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
  transition: border-color 0.3s ease;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.addUserForm input:hover,
.addUserForm select:hover {
  border-color: #3498db;
}

.addUserForm input:focus,
.addUserForm select:focus {
  border-color: #3498db;
  box-shadow: 0 0 10px rgba(52, 152, 219, 0.5);
}

.addUserForm label {
  display: block;
  margin-bottom: 8px;
  color: #333;
}

.addUserForm input {
  width: 100%;
  padding: 8px;
  margin-bottom: 16px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.addUserForm select {
  width: 100%;
  padding: 8px;
  margin-bottom: 16px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.addUserForm button {
  background-color: #3498db;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease;
}

.addUserForm button:hover {
  background-color: #2980b9;
}

.addUserForm button:active {
  background-color: #1f618d;
  box-shadow: 0 0 8px rgba(41, 128, 185, 0.8);
  transform: translateY(2px);
}

#btn_form {
  background-color: #4CAF50; 
}

#btn_form:hover {
  background-color: #45a049;
}

#btn_form:active {
  background-color: #3d8b40;
}