header {
  background-color: #333;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.1rem;
  height: 80px;
  padding: 10px 20px;
  width: 100%;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 2;
}

.main-header {
  display: flex;
  gap: 20px;
}

.main-header ul {
  display: flex;
  list-style: none;
  gap: 20px;
}

.main-header ul li {
  margin: auto;
}

.main-header ul li a {
  color: white;
  text-decoration: none;
  transition: color 0.3s ease;
}

.main-header ul li a:hover {
  color: #3498db;
}

.main-header img {
  width: 50px;
  height: auto;
  border-radius: 50%;
  transition: transform 0.3s ease;
}

.main-header img:hover {
  transform: scale(1.1);
}

.meta-header ul {
  display: flex;
  list-style: none;
  gap: 20px;
}

.meta-header ul li p,
.meta-header ul li i {
  color: white;
  transition: color 0.3s ease;
}

.meta-header ul li:hover p,
.meta-header ul li:hover i {
  color: #3498db;
  cursor: pointer;
}

.meta-header i {
  font-size: 24px;
}

.btn-header {
  text-decoration: none;
  padding: 10px 20px;
  margin: 5px;
  border: 2px solid #3498db;
  border-radius: 5px;
  color: #fff;
  transition: background-color 0.3s, color 0.3s;
}

.btn-header:hover {
  background-color: #3498db;
  color: #fff;
}

.btn-header:active {
  background-color: #2f89c6;
  color: #fff;
}



.user-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.user-container:hover {
  cursor: pointer;
}

.user-container:hover p,
.user-container:hover i {
  color: #3498db;
}

.darkLayer {
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
  position: fixed;
  width: 100%;
  display: none;
  top: 0;
  left: 0;
  z-index: 3;
}

#darkLayer {
  display: block;
}

.registerForm {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -100%);
  opacity: 0;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  width: 300px;
  visibility: hidden;
  transition: transform .3s ease-in-out, opacity .5s ease-in-out;
  z-index: 4;
}

#registerForm {
  transform: translate(-50%, -50%);
  opacity: 1;
  visibility: visible;
}

.registerForm input,
.registerForm select {
  width: 100%;
  padding: 8px;
  margin-bottom: 16px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
  transition: border-color 0.3s ease;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.registerForm input:hover,
.registerForm select:hover {
  border-color: #3498db;
}

.registerForm input:focus,
.registerForm select:focus {
  border-color: #3498db;
  box-shadow: 0 0 10px rgba(52, 152, 219, 0.5);
}

.registerForm label {
  display: block;
  margin-bottom: 8px;
  color: #333;
}

.registerForm input {
  width: 100%;
  padding: 8px;
  margin-bottom: 16px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.registerForm select {
  width: 100%;
  padding: 8px;
  margin-bottom: 16px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.registerForm button {
  background-color: #3498db;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease;
}

.registerForm button:hover {
  background-color: #2980b9;
}

.registerForm button:active {
  background-color: #1f618d;
  box-shadow: 0 0 8px rgba(41, 128, 185, 0.8);
  transform: translateY(2px);
}

#btn_form {
  background-color: #4CAF50;
}

#btn_form:hover {
  background-color: #45a049;
}

#btn_form:active {
  background-color: #3d8b40;
}

/* Mobile */

.menu-icon {
  width: 50px;
  height: 50px;
  background-color: #333;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  padding: 10px;
  transition: background-color 0.3s;
}

.menu-icon span {
  width: 40px;
  height: 3px;
  background-color: #fff;
  transition: transform .3s, opacity .3s;
}

.menu-icon.active {
  border-radius: 50px;
}

.menu-icon.active span:nth-child(1) {
  transform: rotate(-45deg) translate(-13px, 6px);
}

.menu-icon.active span:nth-child(2) {
  opacity: 0;
}

.menu-icon.active span:nth-child(3) {
  transform: rotate(45deg) translate(-12px, -6px);
}

.mobile-menu {
  background-color: #333;
  position: fixed;
  top: 80px;
  height: max-content;
  right: 0;
  width: 30%;
  min-width: 200px;
  padding: 20px;
  box-sizing: border-box;
  z-index: 1;
  opacity: 0;
  transform: translateX(100%);
  border-bottom: 5px solid #3498db;
  text-align: center;
  border-radius: 0px 0px 0px 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  transition: opacity 0.3s, transform 0.3s;
}

.mobile-menu ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
}

.mobile-menu li {
  margin-bottom: 15px;
}

.mobile-menu hr {
  border: 0;
  height: 1px;
  background: #555;
  margin: 15px 0;
}

.mobile-menu ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 1.2rem;
  transition: color 0.3s ease, transform 0.3s ease;
}

.mobile-menu ul li a:hover {
  color: #3498db;
  transform: translateX(5px);
}

.mobile-menu i {
  color: white;
  margin-right: 5px;
  transition: color 0.3s ease;
}

.mobile-menu i:hover {
  color: #3498db;
}